/*  Global */
.text-center {
  text-align: center;
}

.green-box {
  width: 370px;
  background-color: #e8ffeb;
  margin: 0 auto;
  padding: 15px;
}

/* Global end */

body {
  margin: 0;
  padding: 0;
  color: #707070;
}

.top-bar {
  width: 100%;
  height: 50px;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar h1 {
  margin: 0;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section1 {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
}

.user-icon {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  background-color: #ececec;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  flex-grow: 2;
}

.user-info label {
  display: block;
  align-self: flex-start;
}

.form-field {
  width: 250px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #008c0e;
  background-color: #e8ffeb;
  padding: 5px;
  margin-bottom: 10px;
}

.form-field:focus {
  outline: none;
}

.section2 {
  display: flex;
  flex-direction: row;
}

.section2-left-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2.5em;
}

.section2-left-box div.radio-group {
  margin-top: 2em;
}

.section2-right-box {
  padding: 2.5em;
}

.section2-right-box div.role-label {
  margin-top: 0.5em;
}

.section2-right-box div.rating-label {
  margin-top: 3.7em;
}

.section3 {
  margin-top: 3em;
}

.section3 .like-label {
  display: flex;
  justify-content: flex-start;
  padding-left: 10em;
}

.section3 .green-box2 {
  display: flex;
  justify-content: flex-end;
  width: 450px;
  height: 330px;
  background-color: #e8ffeb;
  margin-bottom: -25em;
  margin-left: 1em;
}

.section3 .like-option {
  display: flex;
  justify-content: flex-end;
  padding-right: 17em;
  margin-top: -0.5em;
}

.section3 .prefer-label {
  text-align: right;
  display: flex;
  justify-content: flex-start;
  padding-left: 2em;
  margin-top: 3em;
}

.section3 .preferences {
  display: flex;
  justify-content: flex-end;
  padding-right: 12em;
  margin-top: -3.3em;
}

.section4 {
  margin-top: 3em;
}

.section4 .comments-label {
  display: flex;
  justify-content: flex-end;
  padding-right: 11em;
  margin-top: 5em;
  margin-bottom: -3em;
}

.section4 .comments-field {
  width: 370px;
  background-color: #e8ffeb;
}

.section4 .comments-field textarea {
  margin-left: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 3em 0;
  background-color: #008c0e;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
