/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

html {
  color: #707070;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 100px;
}

.left-box {
  width: 500px;
  padding: 2em;
}

.right-box {
  width: 500px;
  padding: 2em;
}

.green-bg {
  width: 500px;
  height: auto;
  background-color: #e8ffeb;
}

ul>li {
  list-style: none;
}

/* End General Styles */

.top-bar {
  width: 100%;
  height: 50px;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar h1 {
  margin: 0;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.user-icon {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
}

.user-icon img {
  width: 7em;
}

.user-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
}

.user-info label,
user-info input {
  margin-top: 0.5em;
}

.form-field {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #008c0e;
  background-color: #e8ffeb;
  padding: 5px;
  margin-bottom: 10px;
}

.form-field:focus {
  outline: none;
}

.section-2>.left-box>.role-label,
.section-2>.left-box>.rating-label {
  display: none;
}

.radio-group {
  margin-top: 2em;
}

.radio-group ul li {
  text-align: end;
}

.radio-group ul li label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.radio-group ul li label input {
  margin-left: 8px;
  margin-top: 2px;
}

.rating-label {
  margin-top: 2.5em;
}

select#dropdown {
  display: block;
  width: 100%;
}

.preferences {
  margin-top: 2em;
}

.preferences ul li label {
  display: flex;
  align-items: center;
}

.preferences ul li label input {
  margin-right: 8px;
  margin-top: 2px;
}

.like-label {
  text-align: end;
}

.prefer-label {
  text-align: end;
  margin-top: 2.5em;
}

.section-3>.right-box>.like-label,
.section-3>.right-box>.prefer-label {
  display: none;
}

.section-4>.left-box>.comments-label {
  display: none;
}

.btn {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #008c0e;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media query styles */

/* Tablet styles */
@media only screen and (min-device-width: 500px) and (max-device-width: 800px) {
  .rating-label {
    margin-top: 1.5em;
  }

  section {
    padding: 20px 50px;
    display: fl
  }

  .prefer-label {
    text-align: end;
    margin-top: 2.5em;
  }
}

/* Phone styles */
@media only screen and (max-device-width: 500px) {
  section {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-icon img {
    width: 3em;
    margin: 1em 0;
  }

  .section-2>.right-box,
  .section-2>.right-box {
    display: none;
  }

  .section-2>.left-box>.role-label,
  .section-2>.left-box>.rating-label {
    display: block;
  }

  .role-label {
    margin-bottom: 1em;
  }

  .radio-group ul li label {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .section-3>.left-box,
  .section-3>.left-box {
    display: none;
  }

  .section-3>.right-box>.like-label,
  .section-3>.right-box>.prefer-label {
    display: block;
  }

  .like-label {
    margin-bottom: 1em;
  }

  .prefer-label {
    text-align: start;
  }

  .section-4>.left-box>.comments-label {
    display: block;
    margin-bottom: 1.5em;
  }

  .section-4>.right-box {
    display: none;
  }
}